@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import "./varibles.scss";
@import "./breakpoints.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/cases.scss";
@import "./components/navigation.scss";

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bold{
  position:static;
  font-weight: bold;
  text-transform: uppercase;
}
.colorful{
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.About-subtitle{
  text-align: center;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  @include media("<=1560px") {
    
    font-size: 2rem;
    line-height: 1.2 ;
  }
  
  h1{
    padding-top: 5rem;
  }
  p{
    font-size: 2rem;
    @include media("<=1560px") {
      font-size: 1rem;
      line-height: 1.2 ;
    }
    
  }
  .image-about-subtitle{
    width: 1000px;
    
    border-radius: 5px;
    @include media("<=1560px") {
      width: 300px;
      border-radius: 5px;
    

    }
  }
  .flex{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include media("<=1560px") {
    

    }
  p{
    text-align: center;
    font-size: 5rem;
    
    @include media("<=1560px") {
    
      font-size: 2rem;
      line-height: 1.2 ;
    }
    
  }
  
  .image-about-subtitle{
    width: 1000px;
    border-radius: 5px;
    @include media("<=1560px") {
    width: 300px;
    // border-radius: 50%;

    }
  }
}}

.title-about{
  font-size: 10rem;
  padding-top: 15rem;
  padding-inline: 12rem ;
  position: relative;
  display: flex;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 2rem;
  text-align: center;
  @include media("<=1560px") {
    padding-top: 7rem;

    padding-inline: 0;
    letter-spacing: 1rem;
    font-size: 2rem;
  }
}
.sub-subtitle-right{
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  text-decoration:underline;
  letter-spacing: 0.7rem;
  @include media("<=1560px") {
    letter-spacing: 0.5rem;
    font-size: 1rem;
  }
}
.text-sub-subtitle-right{
  font-size: 1.2rem;
  padding-left: 30rem;
  display: flex;
  position: relative;
  text-align: end;
  justify-content: flex-end;

  @include media("<=1560px") {

    font-size: 1rem;
    padding-left: 0;
    padding-top: 1rem;
    text-align: center;
    line-height: 1.7;

  }

}
.sub-subtitle-left{
  padding-top: 7rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  text-decoration:underline;
  letter-spacing: 0.7rem;
  @include media("<=1560px") {
    
    letter-spacing: 0.5rem;
    font-size: 1rem;
  }
}
.text-sub-subtitle-left{
  font-size: 1.2rem;
  padding-right: 30rem;
  display: flex;
  position: relative;
  text-align: start;
  justify-content: flex-start;

  @include media("<=1560px") {

    font-size: 1rem;
    padding-right: 0;
    padding-top: 1rem;
    text-align: center;
    line-height: 1.7;

  }

}
.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;
    @include media("<=phone") {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;
  }
}

// intro overlay
.intro-overlay {
  .top {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    width: 100%;
    z-index: 8;
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 33.333vw;
      background: $black;
      bottom: 0;
      left: 0;
      right: 0;
      @include media("<=tablet") {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 33.333%;
        @include media("<=tablet") {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 66.666%;
        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }
  .bottom {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 8;
    .overlay-bottom {
      position: absolute;
      height: 100%;
      width: 33.333vw;
      background: $black;
      bottom: 0;
      right: 66.666%;
      @include media("<=tablet") {
        right: 0;
        width: 100vw;
      }
      &:nth-child(2) {
        right: 33.333%;
        @include media("<=tablet") {
          width: 100vw;
          top: 100%;
          right: 0;
        }
      }
      &:nth-child(3) {
        right: 0;
        @include media("<=tablet") {
          width: 100vw;
          top: 200%;
        }
      }
    }
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: $white;
  .row {
    display: flex;
    align-items: center;
  }
}
